[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/baillergeauk
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/baillergeauk
	label-Verified = -1..+1 group user/baillergeauk
	push = group user/baillergeauk
	read = group user/baillergeauk
	rebase = group user/baillergeauk
	removeReviewer = group user/baillergeauk
	submit = group user/baillergeauk
[access "refs/heads/*"]
	create = group user/baillergeauk
	push = +force group user/baillergeauk
	pushMerge = group user/baillergeauk
	read = group user/baillergeauk
[access "refs/tags/*"]
	push = group user/baillergeauk
	push = +force group user/baillergeauk
